.hide {
    display: none;
}

body, html {
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
}

.bi {
    font-size: 1rem;
    padding-right: 4px;
}
.bi-caret-right-fill {

}
.bi-caret-right-fill {

}

.layer-menu-outer {
    padding: 25px;
    width: 240px;
}

.layer-menu {
    border-color: #333;
    border-width: thin;
    border-style: solid;
}

.ll {
    padding: 4px 4px 2px 2px;
    font-size: 0.9rem;
    line-height: 1.1rem;
}

.layer-group {
    padding-left: 5px;
    background-color: rgba(0, 0, 0, 0.1);
    border-color: #aaa;
    border-width: 0 0 1px 0;
    border-style: solid;
}

.layer-sub-group {
    padding-left: 10px;
    background-color: rgba(0, 0, 0, 0.03);
    border-color: #aaa;
    border-width: 0 0 1px 0;
    border-style: solid;
}

.layer {
    padding-left: 28px;
    border-color: #ddd;
    border-width: 0 0 1px 0;
    border-style: solid;
}
